<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= park.image  %>" alt="tents and trees" >
            <div class="card-body">
                <h5 class="card-title"> <%= park.title %>  </h5>
                <p class="card-text">  <%= park.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <%= park.location %> </li>
                <li class="list-group-item"> $<%= park.price %> </li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-primary" href="/parks/<%= park._id%>/edit" >Edit</a>
                <form class="d-inline" action="/parks/<%= park._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">DELETE</button>
                </form>
                <footer>
                    <a href="/parks">Back to ALL Parks</a>
                </footer>
            </div>
        </div>
    </div>
</div>

   
